/*----- About -----*/
.about {
  top: $header-height;
  width: 100vw;
  height: calc(100vh - 2 * #{$header-height});
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  .about-sider {
    position: fixed;
    left: 0;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    gap: 44px;
    z-index: 99;
  }
  section {
    width: 100%;
  }
  #bio {
    min-height: 100%;
    color: #333;
    & * {
      font-family: "Gill Sans", sans-serif;
    }
  }
  #experiences {
    color: #333;
    & *:not(i) {
      font-family: "Gill Sans", sans-serif;
    }
  }
  #hobby {
    height: 101%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .char-container {
    left: 20%;
  }
}
/*-----  Bio -----*/
.bio-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  .bio-browser {
    cursor: none;
    background: $dark-text;
    padding: 8px;
    border: 4px solid #d4c9c7;
    margin: 12px 10%;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: $box-shadow;
    overflow: hidden;
  }
  .bio-img {
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    z-index: 99;
  }
}
.bio-browser {
  .bio-browser-mouse {
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: none;
    z-index: 99;
    background-color: #002c66;
    border: 1px solid #fff;
    border-radius: 100%;
    transform: translateY(-50%);
    box-shadow: $box-shadow;
    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #002c66;
    }
  }
  .bio-browser-tabs {
    width: 100%;
    background-color: #eee;
    display: flex;
    gap: 8px;
    border-radius: 6px 6px 0 0;
  }
  .bio-browser-windows {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
  }
}
.bio-browser-tabs {
  .active {
    background-color: #fff;
  }
  .bio-browser-tab {
    transition: 0.2s;
    text-align: center;
    padding: 0.5rem;
    flex-grow: 1;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    box-shadow: $box-shadow;
    &:hover {
      background-color: #fff;
    }
    &:active {
      box-shadow: #d6d6e7 0 3px 7px inset;
      transform: translateY(1px);
    }
  }
}
.bio-browser-windows {
  .bio-browser-window {
    visibility: hidden;
    opacity: 0.8;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: #fff;
    border: 4px solid #fff;
    box-shadow: $box-shadow;
  }
  .bio-browser-window2 {
    flex-direction: column;
  }
  .open {
    visibility: visible;
    opacity: 1;
  }
}
.bio-browser-window {
  .bio-photo {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    border: 4px solid $primary-color;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bio-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .bio-abilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.bio-photo {
  .bio-photo-img {
    height: 100%;
    object-fit: cover;
  }
}
.bio-info {
  .bio-info-name {
    font-size: 3rem;
    padding: 1rem;
    width: max-content;
  }
  .bio-info-content {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 2rem;
  }
}
.bio-skills {
  .bio-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 96px;
    aspect-ratio: 1/1;
    transition: 0.2s;
    &:hover {
      filter: none;
    }
  }
}
.bio-skill {
  .bio-skill-img {
    width: 48px;
    aspect-ratio: 1/1;
  }
}
.bio-ability {
  .bio-ability-name {
    position: absolute;
    background: #fff;
    z-index: 1;
    left: 20px;
    top: -20px;
    padding: 8px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .bio-ability-info {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1rem;
    border: 4px solid $primary-color;
    border-radius: 6px;
  }
}
.bio-img {
  .bio-img-working {
    height: 200px;
    width: 200px;
    background-image: url("../assets/images/about/about.png");
    background-size: cover;
    background-position: 0 0;
    animation: working 2s steps(2) infinite;
  }
  .bio-img-light {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-shadow: 0 0 40px 28px #fff6c1;
  }
}

/*-----  Experience -----*/
.experiences {
  .experience {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.experience {
  .timeline {
    line-height: 1.6rem;
    width: 88%;
    max-width: 980px;
    background: #eee;
    padding: 5%;
    box-shadow: $box-shadow;
  }
}
.timeline {
  .timeline-header {
    color: #222;
    margin: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .timeline-item {
    padding-left: 40px;
    &:hover > .timeline-marker:before {
      background: #eee;
      border: 3px solid $primary-color;
    }
    &:hover > .timeline-marker:after {
      background: $primary-color;
    }
    &:hover > .timeline-content {
      background-color: #fff;
      border-radius: 6px;
    }
  }
  .timeline-milestone {
    padding: 20px;
    margin: 10px 0;
    border-radius: 6px;
  }
}
.timeline-item {
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    border: 3px solid transparent;
    &::before {
      content: "";
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 4px;
      left: 0;
      background: $primary-color;
      border-radius: 100%;
      border: 3px solid #333;
      transition: 0.3s;
    }
    &::after {
      content: "";
      width: 3px;
      background: #333;
      display: block;
      position: absolute;
      top: 24px;
      bottom: 0;
      left: 6px;
      transition: 0.3s;
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
      background: transparent;
      border: 3px solid $primary-color;
    }
  }
  .timeline-content {
    transition: 0.3s;
    padding: 0 40px 20px 40px;
    & > * {
      padding-bottom: 8px;
    }
  }
}

.timeline-content {
  .timeline-time {
    font-size: 0.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .timeline-title {
    font-size: 1.6rem;
    color: #222;
  }
  .timeline-location {
    i {
      margin-right: 1rem;
      color: #ea4336;
    }
  }
  .timeline-works {
    list-style: circle inside;
  }
}
.timeline-milestone {
  .timeline-milestone-img {
    border-radius: 6px;
    width: 100%;
  }
  .timeline-milestone-info {
    background-color: #fff;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 1.2rem;
    color: #222;
    border: 3px double #222;
  }
}

/*-----  Hobby -----*/
.hobbies {
  h2 {
    text-align: center;
    margin: 2rem 0;
  }
  .next {
    display: flex;
    justify-content: center;
  }
}
.hobbies-container {
  display: flex;
  gap: 40px;
  &:hover > &-inner {
    animation-play-state: paused;
  }
  &-inner {
    display: flex;
    gap: 40px;
    animation: hobbyMarquee 20s linear infinite;
  }
}
.hobbies-container-inner {
  .hobby-card {
    background: #fff;
    min-width: 240px;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 6px;
    text-transform: uppercase;
    box-shadow: $box-shadow;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.hobby-card {
  .hobby-img {
    width: 240px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
  .hobby-title {
    text-align: center;
    margin: 10px;
    color: #333;
  }
}
.next_goToProjects {
  .next_goToProjects_sign {
    width: 165px;
    height: 200px;
    transition: 1s;
    background-image: url(../assets/images/sign.png);
    background-size: cover;
    background-repeat: no-repeat;
    &:hover {
      animation: sign_skew 1s infinite;
    }
  }
}
/*-----  About Sider -----*/
.about-sider {
  .active {
    .birdFly {
      opacity: 0;
    }
    .birdStand {
      opacity: 1;
    }
  }
  .about-slider-item {
    padding: 4px 12px;
    color: #eee;
    background: #6c431b;
    border: 2px solid #4a2e13;
    transition: 0.2s;
  }
}
.about-slider-item {
  .birdFly,
  .birdStand {
    width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transition: 0.5s;
  }

  .birdFly {
    opacity: 1;
    transform: translateY(-80%);
  }

  .birdStand {
    opacity: 0;
    left: 0;
    top: -150%;
  }
  &:hover {
    transform: scale(1.2) translateX(8%);
    font-weight: 900;
  }
}

/*-----  keyframes -----*/
@keyframes hobbyMarquee {
  from {
    transform: translateX(calc(-5%));
  }
  to {
    transform: translateX(calc(-55% - 20px));
  }
}

@keyframes working {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 0;
  }
}

/*-----  Media Screen -----*/
@media screen and (max-width: $break-pc) {
  .bio-container {
    .bio-browser {
      cursor: auto;
      .bio-browser-mouse {
        display: none;
      }
    }
  }
}
@media screen and (max-width: $break-pad) {
  .about {
    padding: 0;
    .about-sider {
      display: none;
    }
    .bio-container {
      .bio-browser {
        .bio-browser-windows {
          .bio-browser-window {
            flex-direction: column;
            overflow-y: scroll;
            padding: 1.6rem;
            padding-bottom: 8%;
          }
          .bio-browser-window1 {
            justify-content: start;
          }
          .bio-browser-window2 {
            justify-content: initial;
          }
          .bio-browser-window3 {
            justify-content: start;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-phone) {
  .about {
    .bio-container {
      .bio-browser {
        .bio-browser-windows {
          .bio-browser-window {
            padding-bottom: 16%;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 777px) {
  .about {
    .bio-container {
      .bio-browser {
        .bio-browser-windows {
          height: 54vh;
          .bio-browser-window {
            overflow-y: scroll;
            padding: 1.6rem;
          }
          .bio-browser-window1 {
            justify-content: start;
            flex-direction: column;
          }
          .bio-browser-window2 {
            justify-content: initial;
          }
          .bio-browser-window3 {
            justify-content: start;
            align-items: start;
          }
        }
      }
    }
  }
}
@media screen and (max-height: 667px) {
  .about {
    .bio-container {
      .bio-browser {
        .bio-browser-windows {
          height: 50vh;
          .bio-browser-window {
            padding-bottom: 72px;
          }
        }
      }
    }
  }
}
