.about {
  top: $header_height;
  width: 100vw;
  height: calc(100vh - 2 * $header_height);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  .about_sider {
    position: fixed;
    left: 0;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    gap: 44px;
    z-index: 99;
  }
  section {
    width: 100%;
  }
  #bio {
    min-height: 100%;
    color: #333;
  }
  #experiences {
    color: #333;
  }
  #hobby {
    padding: 8% 0;
  }
}
/*-----  Bio -----*/
.bio_container {
  min-height: 100%;
  padding: 4% 8%;
  display: flex;
  justify-content: center;
  .bio_browser {
    cursor: none;
    background: #333;
    padding: 8px;
    border: 4px solid #d4c9c7;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(-8%);
    overflow: hidden;
  }
  .bio_img {
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    z-index: 99;
  }
}
.bio_browser {
  .bio_browser_mouse {
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: none;
    z-index: 99;
    background-color: #002c66;
    border: 1px solid #fff;
    border-radius: 100%;
    transition: transform 0.2s;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  }
  .bio_browser_tabs {
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 8px;
    border-radius: 6px 6px 0 0;
  }
  .bio_browser_windows {
    width: 100%;
    height: 56vh;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
  }
}
.bio_browser_mouse {
  .bio_browser_mouse_item {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #002c66;
  }
}
.bio_browser_tabs {
  .active {
    background-color: #fff;
  }
  .bio_browser_tab {
    transition: 0.2s;
    text-align: center;
    padding: 0.5rem;
    flex-grow: 1;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #fff;
    }
    &:active {
      box-shadow: #d6d6e7 0 3px 7px inset;
      transform: translateY(1px);
    }
  }
}
.bio_browser_windows {
  .bio_browser_window {
    visibility: hidden;
    opacity: 0.8;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: #fff;
    border: 4px solid #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  }
  .bio_browser_window2 {
    flex-direction: column;
  }
  .open {
    visibility: visible;
    opacity: 1;
  }
}
.bio_browser_window {
  .bio_photo {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    border: 4px solid $primary-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.bio_photo {
  .bio_photo_img {
    height: 100%;
    object-fit: cover;
  }
}
.bio_info {
  .bio_info_name {
    font-size: 3rem;
    padding: 1rem;
  }
  .bio_info_content {
    padding: 1rem;
    line-height: 1.5rem;
  }
}
.skills {
  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 96px;
    aspect-ratio: 1/1;
    transition: 0.2s;
    &:hover {
      filter: none;
    }
  }
}
.skill {
  .skill_img {
    width: 48px;
    aspect-ratio: 1/1;
  }
}
.ability {
  .ability_name {
    position: absolute;
    background: #fff;
    z-index: 1;
    left: 20px;
    top: -16px;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .ability_info {
    padding: 1rem;
    border: 4px solid $primary-color;
    border-radius: 6px;
  }
}
.bio_img {
  .bio_img_working {
    height: 200px;
    width: 200px;
    background-image: url("../assets/images/about/about.png");
    background-size: cover;
    background-position: 0 0;
    animation: working 2s steps(2) infinite;
  }
  .bio_img_light {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-shadow: 0 0 40px 28px #fff6c1;
  }
}

/*-----  Experience -----*/
.experiences {
  .experience {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.experience {
  .timeline {
    line-height: 1.6rem;
    width: 88%;
    max-width: 980px;
    background: #eee;
    padding: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
.timeline {
  .timeline-header {
    font-family: "Gill Sans", sans-serif;
    color: #222;
    margin: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .timeline-item {
    padding-left: 40px;
    &:hover > .timeline-marker:before {
      background: #eee;
      border: 3px solid $primary-color;
    }
    &:hover > .timeline-marker:after {
      background: $primary-color;
    }
    &:hover > .timeline-content {
      background-color: #fff;
      border-radius: 6px;
    }
  }
  .timeline-milestone {
    padding: 20px;
    margin: 10px 0;
    border-radius: 6px;
  }
}
.timeline-item {
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    border: 3px solid transparent;
    &::before {
      content: "";
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 4px;
      left: 0;
      background: $primary-color;
      border-radius: 100%;
      border: 3px solid #333;
      transition: 0.3s;
    }
    &::after {
      content: "";
      width: 3px;
      background: #333;
      display: block;
      position: absolute;
      top: 24px;
      bottom: 0;
      left: 6px;
      transition: 0.3s;
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
      background: transparent;
      border: 3px solid $primary-color;
    }
  }
  .timeline-content {
    transition: 0.3s;
    padding: 0 40px 20px 40px;
    & > * {
      padding-bottom: 8px;
    }
  }
}

.timeline-content {
  .timeline-time {
    font-family: "Gill Sans", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .timeline-title {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.6rem;
    color: #222;
  }
  .timeline-location {
    font-family: "Gill Sans", sans-serif;
    i {
      margin-right: 1rem;
      color: #ea4336;
    }
  }
  .timeline-works {
    list-style: circle inside;
  }
  .timeline-work {
    font-family: "Gill Sans", sans-serif;
  }
}
.timeline-milestone {
  .timeline-milestone-img {
    border-radius: 6px;
    width: 100%;
  }
  .timeline-milestone-info {
    background-color: #fff;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
    font-family: "Gill Sans", sans-serif;
    font-size: 1.2rem;
    color: #222;
    border: 3px double #222;
  }
}

/*-----  Hobby -----*/
.hobbies {
  h2 {
    text-align: center;
    margin: 1rem 0;
  }
}
.hobbies_container {
  display: flex;
  gap: 40px;
  &:hover > .hobbies_container_inner {
    animation-play-state: paused;
  }
  .hobbies_container_inner {
    display: flex;
    gap: 40px;
    animation: hobbyMarquee 20s linear infinite;
  }
}
.hobbies_container_inner {
  .hobby_card {
    background: #fff;
    min-width: 240px;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 6px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    &:hover {
      transform: scale(1.2);
    }
  }
}

.hobby_card {
  .hobby_img {
    width: 240px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
  .hobby_title {
    text-align: center;
    margin: 10px;
    color: #333;
  }
}

/*-----  About Sider -----*/
.about_sider {
  .active {
    .birdFly {
      opacity: 0;
    }
    .birdStand {
      opacity: 1;
    }
  }
  .about_slider_item {
    padding: 4px 12px;
    color: #eee;
    background: #6c431b;
    border: 2px solid #4a2e13;
    transition: 0.2s;
  }
}
.about_slider_item {
  .birdFly {
    opacity: 1;
    width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transform: translateY(-80%);
    transition: 0.5s;
  }
  .birdStand {
    opacity: 0;
    width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: -150%;
    transition: 0.3s;
  }
  &:hover {
    transform: scale(1.2) translateX(8%);
    font-weight: 900;
  }
}

/*-----  keyframes -----*/
@keyframes hobbyMarquee {
  from {
    transform: translateX(calc(0% - 10vw));
  }
  to {
    transform: translateX(calc(-100% - 10vw));
  }
}

@keyframes working {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 0;
  }
}

/*-----  Media Screen -----*/
@media screen and (max-width: $break_pad) {
  .about {
    padding: 0;
    .about_sider {
      display: none;
    }
    .bio_container {
      .bio_browser {
        .bio_browser_windows {
          .bio_browser_window {
            flex-direction: column;
            justify-content: space-between;
            overflow-y: scroll;
            padding: 1.6rem;
          }
          .bio_browser_window2 {
            justify-content: initial;
          }
        }
      }
    }
  }
}
