.char-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 99;
  .char-dialog {
    position: absolute;
    width: 120%;
    left: 110%;
    top: 0;
    text-align: center;
    font-weight: 600;
  }
}
.char-dialog {
  .char-dialog-text {
    background-color: #fff;
    min-height: 2.4rem;
    box-shadow: $box-shadow;
    border-radius: 6px;
    padding: 0.5rem;
    color: $dark-text;
    font-size: 1.1rem;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 40%;
      left: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 20px solid #fff;
    }
  }
  .char-dialog-next {
    padding: 0.5rem;
    font-size: 1.1rem;
    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 6px;
      background-image: url("../assets/images/mouse-dark.svg");
      background-size: cover;
      background-position: 0 0;
      animation: clicking 2s steps(2) infinite;
    }
  }
}

/*-----  Keyframes -----*/
@keyframes clicking {
  0% {
    transform: translateY(10%);
    background-position: 0 0;
  }
  100% {
    transform: translateY(20%);
    background-position: -32px 0;
  }
}

/*-----  Media Screen -----*/
@media screen and (max-width: $break-pad) {
  .char-dialog {
    width: 80%;
    font-size: 1rem;
  }
}
@media screen and (max-width: $break-phone) {
  .char-dialog {
    top: -10%;
    width: 72%;
  }
  // .char-container {
  //   display: none;
  // }
}
// @media screen and (max-width: $break-pad) and (max-height: $break-height) {
//   .char-container {
//     display: none;
//   }
// }
