/*----- Footer -----*/
.footer {
  // display: flex;
  // justify-content: flex-start;
  // align-items: flex-end;
  height: $header-height;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../assets/images/block.png);
  background-size: $header-height $header-height;
  background-repeat: repeat-x;
  filter: brightness(120%);
  padding: 1vh 1vw;
  color: $light-text;
  .footer-copyright {
    top: 36px;
  }
  .footer-resume {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 15px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(#eee, 0.4);
    border-radius: 99px;
    border: 4px double #333;
    &:hover {
      color: $dark-text;
      background-color: rgba(#eee, 0.8);
    }
  }

  @media screen and (max-width: $break-phone) {
    padding: 1vh 2vw;
    font-size: 0.9em;
  }
}
