.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 70px;
  top: 70px;
  background-image: url(../assets/images/block.png);
  background-size: 70px;
  filter: brightness(120%);
  padding: 1vh 1vw;
  color: #fff;
}
