/*----- Header -----*/
.nav {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 5%;
}
.nav-logo {
  height: 50px;
  width: 50px;
  img {
    height: 100%;
    border-radius: 50%;
  }
}
.nav-menu {
  display: flex;
  &-item-link {
    transition: 0.2s;
    &:hover {
      border-radius: 6px;
      background: rgba(238, 238, 238, 0.2);
    }
    .nav-menu-item {
      padding: 0.5rem 1rem;
      display: inline-block;
      font-size: 1.2rem;
      transition: 0.2s;
      width: 100%;
      height: 100%;
    }
    &:hover > .nav-menu-item {
      animation: hit 0.3s both;
    }
  }
}
.expanded {
  a {
    color: $light-text;
  }
}
.mode-switch {
  label {
    cursor: pointer;
    display: flex;
    justify-self: center;
    align-items: center;
    input {
      display: none;
      & + .mode-switch-img {
        background-image: url("../assets/images/sun.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        transition: 0.5s;
      }
      &:checked + .mode-switch-img {
        background-image: url("../assets/images/moon.png");
      }
    }
  }
}
.nav-menu-burger {
  cursor: pointer;
  display: none;
  border: 0;
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s;
  overflow: hidden;
  &:hover {
    background: rgba($light-text, 0.2);
  }
  &-line {
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: $light-text;
    transition: 0.3s;
    &:nth-child(1) {
      background-color: $primary-color;
      border: 1px solid rgba($dark-text, 0.2);
    }
  }
}
@keyframes hit {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-40%);
    font-weight: 600;
  }
  100% {
    transform: translateY(0%);
    font-weight: 600;
  }
}

@media screen and (max-width: $break-pad) {
  .nav {
    .nav-menu-burger {
      display: block;
    }
    .nav-menu {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      padding: $header-height 5%;
      height: calc(100vh - #{$header-height});
      text-align: right;
      background-color: #333;
      transform: translateX(100%);
      transition: 0.3s;
      .nav-menu-item-link {
        display: flex;
        flex-direction: column;
        &:hover {
          background-color: rgba($dark-text, 0.2);
        }

        &:hover > .nav-menu-item {
          animation: initial;
        }
        .nav-menu-item {
          height: auto;
          width: max-content;
        }
      }
    }
    .expanded {
      transform: translateX(0%);
    }
  }
}
