/*----- Home -----*/
.home {
  height: calc(100% - 2 * #{$header-height});
  top: $header_height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .top {
    padding: 5vh 5vw;
    width: 100%;
  }
  .middle {
    cursor: pointer;
    border-radius: 6px;
    width: 108px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px double rgba($light-text, 0.5);
    transition: 0.5s;
    &::before {
      content: attr(data-tooltip);
      position: absolute;
      background-color: #fff5d9;
      box-shadow: $box-shadow;
      color: #333;
      padding: 8px;
      border-radius: 6px;
      z-index: 1;
      left: 144%;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s;
    }
    &::after {
      content: "";
      position: absolute;
      left: calc(144% - 16px);
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 16px solid #fff5d9;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s;
    }
    &:hover::before {
      visibility: visible;
      opacity: 1;
    }
    &:hover::after {
      visibility: visible;
      opacity: 1;
    }
  }
  .bottom {
    width: 100%;
    height: 50%;
    max-height: 280px;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .bottom-phone {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .char-container {
    left: 50%;
  }
}
/*----- top -----*/
.top {
  h2 {
    margin: 10px 0px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.4rem;
  }
  h1 {
    margin: 10px 0px;
    font-size: 4rem;
  }
}
/*----- middle -----*/
.middle {
  i {
    transition: 0.5s;
  }
  &:hover {
    .text {
      opacity: 0;
      visibility: hidden;
      margin: 0;
    }
  }
  .middle_text {
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
    margin-left: 1rem;
  }
}
/*----- bottom -----*/
.bottom {
  .bottom_item {
    display: flex;
    align-items: flex-end;
  }
  .bottom_mailbox {
    width: 128px;
    height: 132px;
    background-image: url(../assets/images/mailbox.png);
    background-size: cover;
    background-repeat: no-repeat;

    &:hover > .bottom_mailbox_mail {
      display: inline-block;
      animation: mailup 0.2s both, mail_wave 0.3s 0.5s infinite both;
    }
  }
  .bottom_mailbox_mail {
    display: none;
    position: absolute;
    background-image: url(../assets/images/mail.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 66px;
    height: 40px;
    left: 50%;
    top: 0%;
  }
  .bottom_desk {
    cursor: pointer;
    transform: translateX(-48%);
    .bottom_desk_img {
      width: 200px;
      height: 180px;
      background-image: url(../assets/images/computerDesk.png);
      background-position: left;
      background-repeat: no-repeat;
    }
    .bottom_desk_light {
      position: absolute;
      top: 56%;
      left: 64%;
      transform: translate(-50%, -50%);
      width: 44px;
      height: 44px;
      border-radius: 50%;
    }
    &:hover {
      .bottom_desk_img {
        background-position: right;
      }
      .bottom_desk_light {
        box-shadow: 0 0 40px 28px rgba(#fff6c1, 0.5);
      }
    }
  }
  .bottom_sign {
    display: inline-block;
    width: 165px;
    height: 200px;
    transition: 1s;
    background-image: url(../assets/images/sign.png);
    background-size: cover;
    background-repeat: no-repeat;
    &:hover {
      animation: sign_skew 1s infinite;
    }
  }
}
.bottom-phone {
  .bottom-phone_button {
    cursor: pointer;
    padding: 5px 15px;
    height: max-content;
    color: #fff;
    text-transform: uppercase;
    @include button-style();
  }
}

/*-----  Keyframes -----*/
@keyframes mailup {
  from {
    top: 0%;
  }
  to {
    top: -60%;
  }
}
@keyframes mail_wave {
  0%,
  50%,
  100% {
    transform: translate(-50%, 0) rotate(0deg);
  }
  25% {
    transform: translate(-50%, 0) rotate(20deg);
  }
  75% {
    transform: translate(-50%, 0) rotate(-20deg);
  }
}
@keyframes box_wave {
  0%,
  50%,
  100% {
    transform: translate(-100%, -10%) rotate(0deg);
  }
  25% {
    transform: translate(-100%, -10%) rotate(4deg);
  }
  75% {
    transform: translate(-100%, -10%) rotate(-4deg);
  }
}
@keyframes sign_skew {
  0%,
  100% {
    transform: skewX(3deg);
    transform-origin: 0% 100%;
  }
  50% {
    transform: skewX(-3deg);
    transform-origin: 0% 100%;
  }
}

/*-----  Media Screen -----*/
@media screen and (max-width: $break-pad) {
  .home {
    .top {
      h2 {
        font-size: 1.2rem;
      }
      h1 {
        font-size: 3.2rem;
      }
    }
    .middle {
      &::before {
        left: 124%;
      }
      &::after {
        left: calc(124% - 16px);
      }
    }
    .bottom {
      justify-content: space-around;
      .bottom_treasure {
        transform: translateX(-50%);
        z-index: 100;
      }
    }
  }
}
@media screen and (max-width: $break-phone) {
  .home {
    .middle {
      display: none;
    }
    .top {
      padding: 3vh 5vw;
      h2 {
        font-size: 1.2rem;
      }
      h1 {
        font-size: 3rem;
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      justify-content: space-around;
      .bottom_desk {
        transform: translateX(0);
      }
    }
  }
}
@media screen and (max-width: $break-pad) and (max-height: $break-height) {
  .home {
    .middle {
      display: none;
    }
    .bottom {
      position: absolute;
      bottom: 0;
      justify-content: space-around;
      .bottom_desk {
        transform: translateX(0);
      }
    }
  }
}
