.home {
  height: calc(100% - 140px);
  top: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  .play_btn {
    cursor: pointer;
    border-radius: 6px;
    width: 108px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px double rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    i {
      transition: 0.5s;
    }
    &:hover {
      .text {
        opacity: 0;
        visibility: hidden;
        margin: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      border-radius: 6px;
      transition: 0.8s;
      box-shadow: 0 0 20px 10px rgba(#ffdd38, 0.8);
      inset: 0;
      opacity: 0;
    }
    &:active::after {
      transition: 0s;
      box-shadow: 0 0 0 0 rgba(#ffdd38, 0.8);
      opacity: 1;
    }
  }
  .play_btn_text {
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
    margin-left: 1rem;
  }
  .bottom_container {
    width: 100%;
    height: 50%;
    max-height: 280px;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    a {
      display: flex;
      align-items: flex-end;
    }
    .bottom_mailbox {
      width: 128px;
      height: 132px;
      background-image: url(../assets/images/mailbox.png);
      background-size: cover;
      background-repeat: no-repeat;

      &:hover > .bottom_mailbox_mail {
        display: inline-block;
        animation: mailup 0.2s both, mail_wave 0.3s 0.5s infinite both;
      }
    }
  }
}
.big_heading {
  padding: 5vh 5vw;
  width: 100%;
  h2 {
    margin: 10px 0px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2rem;
  }
  h1 {
    margin: 10px 0px;
    font-size: 4rem;
  }
}
.bottom_mailbox_mail {
  display: none;
  position: absolute;
  background-image: url(../assets/images/mail.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 66px;
  height: 40px;
  left: 50%;
  top: 0%;
}
.bottom_treasure {
  cursor: pointer;
  transform: translateX(-100%);
  transition: 0.3s;
  &:hover {
    transform: translate(-100%, -10%);
    .bottom_treasure_treasureBox {
      background-position: right;
    }
    .bottom_treasure_light {
      box-shadow: 0 0 40px 28px #ffd700;
    }
  }
  .bottom_treasure_light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.4s;
  }
  .bottom_treasure_treasureBox {
    width: 116px;
    height: 92px;
    background-image: url(../assets/images/treasure.png);
    background-position: left;
    background-repeat: no-repeat;
  }
}
.bottom_sign {
  display: inline-block;
  width: 165px;
  height: 200px;
  transition: 1s;
  background-image: url(../assets/images/sign.png);
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    animation: sign_skew 1s infinite;
  }
}
.treasure_coin {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  pointer-events: none;
  background-image: url(../assets/images/coin.png);
  background-size: cover;
  animation: spin 2s infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}

@keyframes mailup {
  from {
    top: 0%;
  }
  to {
    top: -60%;
  }
}
@keyframes mail_wave {
  0%,
  50%,
  100% {
    transform: translate(-50%, 0) rotate(0deg);
  }
  25% {
    transform: translate(-50%, 0) rotate(20deg);
  }
  75% {
    transform: translate(-50%, 0) rotate(-20deg);
  }
}

@keyframes box_wave {
  0%,
  50%,
  100% {
    transform: translate(-100%, -10%) rotate(0deg);
  }
  25% {
    transform: translate(-100%, -10%) rotate(4deg);
  }
  75% {
    transform: translate(-100%, -10%) rotate(-4deg);
  }
}

@keyframes sign_skew {
  0%,
  100% {
    transform: skewX(3deg);
    transform-origin: 0% 100%;
  }
  50% {
    transform: skewX(-3deg);
    transform-origin: 0% 100%;
  }
}

@media screen and (max-width: $break_phone) {
  .big_heading {
    h2 {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  .bottom_container {
    justify-content: space-around;
  }
  .bottom_treasure {
    display: none;
  }
}
