/*----- Projects -----*/
.projects {
  width: 100%;
  top: $header-height;
  height: calc(100% - 2 * #{$header-height});
  &-cards {
    width: 100%;
    height: 100%;
  }
  .char-container {
    left: 20%;
  }
}
/*----- Projects Site Projects -----*/
.card-open-closeBtn {
  cursor: pointer;
  position: fixed;
  padding: 5px 10px;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $dark-text;
  color: #fff;
  border-radius: 6px;
  border: 4px double rgba(255, 255, 255, 0.2);
  z-index: 99;
  &:hover {
    background-color: #fff;
    color: $dark-text;
    border: 4px double rgba(0, 0, 0, 0.2);
  }
}
.card {
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 6px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  box-shadow: $box-shadow;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fffdf6;
  color: $dark-text;
  overflow: hidden;
  transition: 0.5s;
  &:hover > .card-title-marquee > .card-title-marquee-inner {
    opacity: 1;
    animation-play-state: running;
  }
  &:hover > .card-title {
    opacity: 0;
  }
}
.card-open {
  transform: translate(-50%, -60%) scale(1);
  z-index: 3;
  width: 80%;
  max-width: 1000px;
  height: 80%;
  overflow-y: scroll;
  cursor: auto;
  text-align: center;
  & > .card-title-marquee {
    opacity: 0;
  }
  &:hover > .card-title {
    opacity: 1;
  }
  & > .card-title {
    background-color: rgba(#fff, 0.4);
  }
}
.card-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  background-color: #555;
}
.card-title {
  position: absolute;
  width: 100%;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  font-weight: 600;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
}
.card-title-marquee {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  overflow: hidden;
  .card-title-marquee-inner {
    width: max-content;
    background: #fff;
    display: flex;
    opacity: 0;
    transition: opacity 0.4s;
    animation: marquee 6s linear infinite;
    animation-play-state: paused;
  }
  span {
    color: $dark-text;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
    padding-inline: 1rem;
    text-transform: uppercase;
  }
}
.card-open-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5%;
}
.project-skills {
  text-align: center;
  .project-skill {
    display: inline-block;
    margin: 10px 10px;
    padding: 4px 8px;
    background-color: $primary-color;
    color: #fff;
    font-weight: 600;
  }
  .project-skill:nth-of-type(even) {
    background-color: $secondary-color;
  }
}
.project-description-title {
  margin: 5% 0;
  font-size: 5rem;
  font-weight: 600;
  transform: translateX(-300%) rotate(-30deg);
  transition: 0.6s ease-out;
  text-shadow: 4px 4px 0px $secondary-color;
}
.project-problem-title {
  display: grid;
  color: $secondary-color;
  margin: 5% 0;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 4px 4px 0px #333;
  transition: 0.3s;
  span {
    display: grid;
    transform: skewY(-4deg);
    grid-column: 1/2;
    grid-row: 1/2;
    text-shadow: none;
    color: $dark-text;
    transition: 0.3s;
  }
}
.sliceTop {
  clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
}
.sliceBottom {
  clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%);
}
.solving {
  transform: scale(0);
  transition: 0.3s;
}
.description-text,
.problem-text {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  padding: 20px 40px;
  margin: 5% 0;
  color: $dark-text;
  background: #fff5d9;
  box-shadow: $box-shadow;
  transform: translateX(300%) rotate(30deg);
  transition: 0.6s ease-out;
}
.description-text {
  text-indent: 4rem;
}
.problem-text {
  p {
    margin-bottom: 3%;
  }
  span {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 1.2rem 0;
  }
}
.project-img1,
.project-img2 {
  object-fit: contain;
  width: 80%;
  max-width: 600px;
  max-height: 600px;
  box-shadow: $box-shadow;
  border-radius: 6px;
}
.project-link {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  h2 {
    display: inline-block;
  }
  a {
    display: inline-block;
    background-color: $dark-text;
    border-radius: 99px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding: 8px 16px;
    overflow: hidden;
    border: 3px double #fff;
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 300%;
      top: -100%;
      left: -50%;
      background: #fff;
      opacity: 0.1;
      transform: rotate(-45deg);
      transition: 0.2s ease-in;
    }
    &:hover::after {
      left: 120%;
    }
  }
}
.show {
  transform: translateX(0%) rotate(0);
}
.slice {
  animation: slice 0.3s forwards;
}
.zoom {
  transform: scale(1);
}

/*----- Projects Works -----*/
.projects-works {
  z-index: 2;
  position: absolute;
  right: 5%;
  bottom: 0;
  display: flex;
  gap: 16px;
  .project-treasure {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: translateY(-10%);
      .project-treasure-box {
        background-position: right;
        i {
          opacity: 1;
          font-size: 2rem;
          transform: translate(-50%, -100%);
        }
      }
      .project-treasure-light {
        box-shadow: 0 0 40px 28px #ffd700;
      }
    }
    .project-treasure-light {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: 0.4s;
    }
    .project-treasure-box {
      width: 116px;
      height: 92px;
      background-image: url(../assets/images/treasure.png);
      background-position: left;
      background-repeat: no-repeat;
    }
  }
}
.project-treasure {
  h3 {
    position: absolute;
    left: 50%;
    top: -24px;
    transform: translateX(-50%);
  }
  i {
    color: #ffd700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
  }
}
@keyframes jump {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
}
@keyframes marquee {
  from {
    transform: translateX(calc(-20% + 20vw));
  }
  to {
    transform: translateX(calc(-40% + 20vw));
  }
}

@keyframes slice {
  50% {
    transform: skewY(-4deg) translateX(6px);
    background: linear-gradient(to bottom, #555 50%, #333 70%);
    color: transparent;
    background-clip: text;
  }
  100% {
    transform: skewY(-4deg) translateX(4px);
    background: linear-gradient(to bottom, #555 50%, #333 70%);
    color: transparent;
    background-clip: text;
  }
}

@media screen and (max-width: $break-pad) {
  .projects {
    .card {
      width: 240px;
      height: 320px;
    }
    .project-description-title,
    .project-problem-title {
      font-size: 3.2rem;
    }
    .project-description-title {
      text-shadow: 3px 3px 0px #2f6df6;
    }
    .project-problem-title {
      text-shadow: 3px 3px 0px #333;
    }
    .card-open {
      width: calc(100vw - 48px);
      height: 80%;
      top: 0;
      transform: translate(-50%, 0%);
    }
  }
}

@media screen and (max-width: $break-phone) {
  .projects {
    .skills {
      font-size: 0.8rem;
    }
    .project-description-title,
    .project-problem-title {
      font-size: 2.4rem;
    }
    .project-description-title {
      text-shadow: 2px 2px 0px #2f6df6;
    }
    .project-problem-title {
      text-shadow: 2px 2px 0px #333;
    }
    .description-text,
    .problem-text {
      font-size: 0.8rem;
      padding: 16px;
      &::before {
        border: none;
      }
    }
    .project-link {
      h2 {
        font-size: 1rem;
      }
    }
    .projects-works {
      right: 50%;
      transform: translateX(50%);
    }
    .char-container {
      display: none;
    }
  }
}

@media screen and (min-height: 1024px) {
  .projects {
    .card {
      width: 300px;
      height: 400px;
    }
    .card-open {
      width: 80%;
      height: 80%;
      max-width: 1200px;
    }
  }
}
