/*----- Variables -----*/
$break-phone: 414px;
$break-pad: 768px;
$break-pc: 1024px;
$break-height: 692px;
$header-height: 70px;
$primary-color: #ffa602;
$secondary-color: #2f6df6;

/*----- Color scheme -----*/
$bg: linear-gradient(#99d4ff, #52aff2, #1c2a6e, #131f4b);
$dark-text: #333;
$light-text: #eee;

$box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

/*----- mixin -----*/
@mixin button-style {
  padding: 5px 15px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: 4px solid #fff;
  border-radius: 6px;
  background-color: $primary-color;
  transition: 0.1s;
  &:hover {
    background-color: #eee;
    color: #333;
    border: 4px solid #333;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier", monospace;
  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root,
.App {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  overflow: hidden;
  background: $bg;
  background-size: 100% 300%;
}

#light {
  .stars {
    display: none;
  }
  .expand a {
    color: $light-text;
  }
}
#dark {
  background-position: 0 100%;
  color: $light-text;
  a {
    color: $light-text;
  }
  .cloud {
    filter: brightness(85%);
  }
  .footer {
    filter: none;
  }
  .char-dialog {
    .char-dialog-next {
      &::after {
        content: "";
        background-image: url("../assets/images/mouse-light.svg");
      }
    }
  }
}

/*----- Global element styles -----*/
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

@import "./header";
@import "./background";
@import "./footer";
@import "./home";
@import "./about";
@import "./projects";
@import "./contact";
@import "./character";
@import "./notFound";
