* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root,
.App {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  overflow: hidden;
  background: linear-gradient(#99d4ff, #52aff2, #1c2a6e, #131f4b);
  background-size: 100% 300%;
}

#light .stars {
  display: none;
}
#light .expand a {
  color: #eee;
}

#dark {
  background-position: 0 100%;
  color: #eee;
}
#dark a {
  color: #eee;
}
#dark .cloud {
  filter: brightness(85%);
}
#dark .bubble {
  color: black;
}
#dark .about .solar_orbit {
  border-color: rgba(255, 255, 255, 0.3);
}
#dark .footer {
  filter: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.nav {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 5%;
}

.nav_logo {
  height: 50px;
  width: 50px;
}
.nav_logo img {
  height: 100%;
  border-radius: 50%;
}

.nav_menu {
  display: flex;
}
.nav_menu .nav_menu_item {
  padding: 0.5rem 1rem;
  transition: 0.2s;
}
.nav_menu .nav_menu_item:hover {
  border-radius: 6px;
  background: rgba(238, 238, 238, 0.2);
}
.nav_menu .nav_menu_item .nav_menu_item_link {
  display: inline-block;
  font-size: 1.2rem;
  transition: 0.2s;
}
.nav_menu .nav_menu_item:hover > .nav_menu_item_link {
  animation: hit 0.3s both;
}

.expanded a {
  color: #eee;
}

.mode_switch label {
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
}
.mode_switch label input {
  display: none;
}
.mode_switch label input + .mode_switch_img {
  background-image: url("../assets/images/sun.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  transition: 0.5s;
}
.mode_switch label input:checked + .mode_switch_img {
  background-image: url("../assets/images/moon.png");
}

.nav_menu_burger {
  cursor: pointer;
  display: none;
  border: 0;
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s;
  overflow: hidden;
}
.nav_menu_burger:hover {
  background: rgba(238, 238, 238, 0.2);
}
.nav_menu_burger .nav_menu_burger_line {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: 0.3s;
}
.nav_menu_burger .nav_menu_burger_line:nth-child(1) {
  background-color: #f2aa3c;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

@keyframes hit {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-80%);
    font-weight: 600;
  }
  100% {
    transform: translateY(0%);
    font-weight: 600;
  }
}
@media screen and (max-width: 768px) {
  .nav .nav_menu_burger {
    display: block;
  }
  .nav .nav_menu {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 70px 5%;
    height: calc(100vh - 70px);
    text-align: right;
    background-color: #333;
    transform: translateX(100%);
    transition: 0.3s;
  }
  .nav .nav_menu .nav_menu_item {
    width: 100%;
  }
  .nav .expanded {
    transform: translateX(0%);
  }
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
}
.background .clouds {
  position: absolute;
  height: 100%;
  width: 100%;
}
.background .clouds .cloud {
  background-image: url(../assets/images/cloud.png);
  background-size: cover;
  width: 164px;
  height: 106px;
  position: absolute;
  animation: clouddrift 4s infinite;
}
.background .clouds .cloud1 {
  left: 5%;
  top: 55%;
}
.background .clouds .cloud2 {
  left: 60%;
  top: 15%;
}
.background .clouds .cloud3 {
  left: 80%;
  top: 40%;
}
.background .stars {
  position: absolute;
  height: 100%;
  width: 100%;
}
.background .stars .star1 {
  top: -43%;
  left: 71%;
  animation: falling 2s infinite both;
  animation-delay: 0.1s;
}
.background .stars .star2 {
  top: -26%;
  left: 49%;
  animation: falling 2s infinite both;
  animation-delay: 0.2s;
}
.background .stars .star3 {
  top: 2%;
  left: 12%;
  animation: falling 2s infinite both;
  animation-delay: 0.3s;
}
.background .stars .star4 {
  top: 24%;
  left: 37%;
  animation: falling 2s infinite both;
  animation-delay: 0.4s;
}
.background .stars .star5 {
  top: 31%;
  left: 73%;
  animation: falling 2s infinite both;
  animation-delay: 0.5s;
}
.background .stars .star6 {
  top: 58%;
  left: 81%;
  animation: falling 2s infinite both;
  animation-delay: 0.6s;
}
.background .stars .star7 {
  top: -28%;
  left: 54%;
  animation: falling 2s infinite both;
  animation-delay: 0.7s;
}
.background .stars .star8 {
  top: -33%;
  left: 7%;
  animation: falling 2s infinite both;
  animation-delay: 0.8s;
}
.background .stars .star9 {
  top: -60%;
  left: 9%;
  animation: falling 2s infinite both;
  animation-delay: 0.9s;
}
.background .stars .star10 {
  top: -46%;
  left: 11%;
  animation: falling 2s infinite both;
  animation-delay: 1s;
}
.background .stars .star11 {
  top: 27%;
  left: 75%;
  animation: falling 2s infinite both;
  animation-delay: 1.1s;
}
.background .stars .star12 {
  top: -7%;
  left: 14%;
  animation: falling 2s infinite both;
  animation-delay: 1.2s;
}
.background .stars .star13 {
  top: 51%;
  left: 21%;
  animation: falling 2s infinite both;
  animation-delay: 1.3s;
}
.background .stars .star14 {
  top: 53%;
  left: 96%;
  animation: falling 2s infinite both;
  animation-delay: 1.4s;
}
.background .stars .star15 {
  top: 25%;
  left: 69%;
  animation: falling 2s infinite both;
  animation-delay: 1.5s;
}
.background .stars .star16 {
  top: -36%;
  left: 10%;
  animation: falling 2s infinite both;
  animation-delay: 1.6s;
}
.background .stars .star17 {
  top: 23%;
  left: 71%;
  animation: falling 2s infinite both;
  animation-delay: 1.7s;
}
.background .stars .star18 {
  top: 20%;
  left: 12%;
  animation: falling 2s infinite both;
  animation-delay: 1.8s;
}
.background .stars .star19 {
  top: 3%;
  left: 91%;
  animation: falling 2s infinite both;
  animation-delay: 1.9s;
}
.background .stars .star20 {
  top: 18%;
  left: 1%;
  animation: falling 2s infinite both;
  animation-delay: 2s;
}
.background .stars [class^=star] {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff5c5;
}

@keyframes falling {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    box-shadow: 0px 0px 5px rgba(255, 221, 56, 0.8);
  }
  0% {
    transform: translate(100px, 0px);
    box-shadow: none;
  }
  100% {
    transform: translate(0px, 200px);
    box-shadow: 0px 0px 2px rgba(255, 221, 56, 0.5);
  }
}
@keyframes clouddrift {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 70px;
  top: 70px;
  background-image: url(../assets/images/block.png);
  background-size: 70px;
  filter: brightness(120%);
  padding: 1vh 1vw;
  color: #fff;
}

.home {
  height: calc(100% - 140px);
  top: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.home .play_btn {
  cursor: pointer;
  border-radius: 6px;
  width: 108px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px double rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.home .play_btn i {
  transition: 0.5s;
}
.home .play_btn:hover .text {
  opacity: 0;
  visibility: hidden;
  margin: 0;
}
.home .play_btn::after {
  content: "";
  position: absolute;
  border-radius: 6px;
  transition: 0.8s;
  box-shadow: 0 0 20px 10px rgba(255, 221, 56, 0.8);
  inset: 0;
  opacity: 0;
}
.home .play_btn:active::after {
  transition: 0s;
  box-shadow: 0 0 0 0 rgba(255, 221, 56, 0.8);
  opacity: 1;
}
.home .play_btn_text {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.5s;
  margin-left: 1rem;
}
.home .bottom_container {
  width: 100%;
  height: 50%;
  max-height: 280px;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.home .bottom_container a {
  display: flex;
  align-items: flex-end;
}
.home .bottom_container .bottom_mailbox {
  width: 128px;
  height: 132px;
  background-image: url(../assets/images/mailbox.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.home .bottom_container .bottom_mailbox:hover > .bottom_mailbox_mail {
  display: inline-block;
  animation: mailup 0.2s both, mail_wave 0.3s 0.5s infinite both;
}

.big_heading {
  padding: 5vh 5vw;
  width: 100%;
}
.big_heading h2 {
  margin: 10px 0px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2rem;
}
.big_heading h1 {
  margin: 10px 0px;
  font-size: 4rem;
}

.bottom_mailbox_mail {
  display: none;
  position: absolute;
  background-image: url(../assets/images/mail.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 66px;
  height: 40px;
  left: 50%;
  top: 0%;
}

.bottom_treasure {
  cursor: pointer;
  transform: translateX(-100%);
  transition: 0.3s;
}
.bottom_treasure:hover {
  transform: translate(-100%, -10%);
}
.bottom_treasure:hover .bottom_treasure_treasureBox {
  background-position: right;
}
.bottom_treasure:hover .bottom_treasure_light {
  box-shadow: 0 0 40px 28px #ffd700;
}
.bottom_treasure .bottom_treasure_light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.4s;
}
.bottom_treasure .bottom_treasure_treasureBox {
  width: 116px;
  height: 92px;
  background-image: url(../assets/images/treasure.png);
  background-position: left;
  background-repeat: no-repeat;
}

.bottom_sign {
  display: inline-block;
  width: 165px;
  height: 200px;
  transition: 1s;
  background-image: url(../assets/images/sign.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bottom_sign:hover {
  animation: sign_skew 1s infinite;
}

.treasure_coin {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  pointer-events: none;
  background-image: url(../assets/images/coin.png);
  background-size: cover;
  animation: spin 2s infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}
@keyframes mailup {
  from {
    top: 0%;
  }
  to {
    top: -60%;
  }
}
@keyframes mail_wave {
  0%, 50%, 100% {
    transform: translate(-50%, 0) rotate(0deg);
  }
  25% {
    transform: translate(-50%, 0) rotate(20deg);
  }
  75% {
    transform: translate(-50%, 0) rotate(-20deg);
  }
}
@keyframes box_wave {
  0%, 50%, 100% {
    transform: translate(-100%, -10%) rotate(0deg);
  }
  25% {
    transform: translate(-100%, -10%) rotate(4deg);
  }
  75% {
    transform: translate(-100%, -10%) rotate(-4deg);
  }
}
@keyframes sign_skew {
  0%, 100% {
    transform: skewX(3deg);
    transform-origin: 0% 100%;
  }
  50% {
    transform: skewX(-3deg);
    transform-origin: 0% 100%;
  }
}
@media screen and (max-width: 414px) {
  .big_heading h2 {
    font-size: 1.2rem;
  }
  .big_heading h1 {
    font-size: 3rem;
  }
  .bottom_container {
    justify-content: space-around;
  }
  .bottom_treasure {
    display: none;
  }
}
.about {
  width: 100%;
  top: 70px;
  height: calc(100% - 140px);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vh - 140px);
  height: 100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(calc(-100vh + 140px));
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  height: calc(100vh - 140px);
  width: 300vw;
  transform-origin: top left;
  transform: rotate(90deg) translateY(calc(-100vh + 140px));
  overflow: hidden;
}

.slide1_bio,
.slide2_experience,
.slide3_favorite {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  padding: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bio_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  gap: 10%;
  z-index: 2;
}

.bio_photo {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50% 50% 0 0;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.bio_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.bio_text .bio_name {
  font-size: 3rem;
}
.bio_text .bio_content {
  background-color: rgba(255, 255, 255, 0.8);
  border: 4px double rgba(47, 109, 246, 0.2);
  border-radius: 6px;
  padding: 16px 32px;
  line-height: 1.6rem;
  color: #333;
}
.bio_text .bio_content p::first-letter {
  font-size: 1.6rem;
}

.resume {
  font-weight: 600;
}
.resume .resume_btn {
  cursor: pointer;
  display: inline-block;
  background-color: #f2aa3c;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  padding: 0 1rem;
  overflow: hidden;
  border: 2px double #ddd;
  border-color: #ddd;
  border-style: double;
}
.resume .resume_btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 300%;
  top: -100%;
  left: -100%;
  background: #888;
  opacity: 0.1;
  transform: rotate(-45deg);
  transition: 0.2s ease-in;
}
.resume .resume_btn:hover::after {
  left: 120%;
}

.slide2_experience {
  gap: 5%;
}

.exp_timeline {
  width: 12%;
  max-width: 84px;
  height: 80%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}
.exp_timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 100%;
  margin-left: -3px;
}
.exp_timeline .exp_timeline_point {
  cursor: pointer;
}
.exp_timeline .exp_timeline_point::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 4px solid #f2aa3c;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.exp_timeline .exp_timeline_point .exp_timeline_year {
  display: inline-block;
}

.exp_status {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  width: 80%;
  max-width: 770px;
  height: 80%;
  max-height: 600px;
  padding: 12px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 12px 4px rgba(51, 51, 51, 0.1);
  z-index: 2;
}

.exp_status_show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 50%;
}

.exp_status_appearance {
  background-color: #eee;
  border-radius: 6px;
  width: 144px;
  height: 192px;
  overflow: hidden;
}
.exp_status_appearance img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.exp_status_appearance .exp_status_appearance_img {
  display: flex;
  transition: 0.3s;
}
.exp_status_appearance .exp_status_appearance_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 192px;
  z-index: 3;
}

.exp_status_job {
  width: 72%;
  height: 100%;
  padding: 16px;
  border-radius: 6px;
  line-height: 1.5rem;
  color: #222;
}
.exp_status_job .exp_status_job_title h2,
.exp_status_job .exp_status_job_title h5 {
  padding: 6px 0;
}
.exp_status_job .exp_status_job_works ul {
  list-style: circle;
  list-style-position: inside;
}

.exp_status_job_intro {
  display: flex;
  justify-content: center;
  width: 96%;
  height: 40%;
  background-color: #eee;
  color: #222;
  border: 3px double #333;
  border-radius: 6px;
  padding: 16px;
  line-height: 1.5rem;
}
.exp_status_job_intro p::first-letter {
  font-size: 1.6rem;
}

.bg_clocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg_clocks .clock_box {
  position: absolute;
  z-index: 1;
}
.bg_clocks .clock_box .clock {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
.bg_clocks .clock_box .clock_hands {
  width: 100%;
  stroke: black;
  stroke-width: 3px;
}
.bg_clocks .clock_box1 {
  left: 0%;
}
.bg_clocks .clock_box2 {
  left: 30%;
}
.bg_clocks .clock_box3 {
  left: 70%;
}
.bg_clocks .clock_box4 {
  left: 10%;
}
.bg_clocks .clock_box5 {
  left: 30%;
}
.bg_clocks .clock_box6 {
  left: 60%;
}
.bg_clocks .clock_box1 {
  top: -24%;
}
.bg_clocks .clock_box2 {
  top: -24%;
}
.bg_clocks .clock_box3 {
  top: -24%;
}
.bg_clocks .clock_box4 {
  top: 85%;
}
.bg_clocks .clock_box5 {
  top: 87%;
}
.bg_clocks .clock_box6 {
  top: 89%;
}
.bg_clocks .clock_box1 {
  height: 429px;
  width: 429px;
  opacity: 0.5;
  animation: rotate 16s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box1:hover {
  animation-play-state: running;
}
.bg_clocks .clock_box1:hover > .clock_hands > #min1, .bg_clocks .clock_box1:hover > .clock_hands > #hour1 {
  animation-play-state: running;
}
.bg_clocks #min1 {
  animation: rotate 6s linear infinite;
  animation-play-state: paused;
}
.bg_clocks #hour1 {
  animation: rotate 60s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box2 {
  height: 436px;
  width: 436px;
  opacity: 0.4;
  animation: rotate 26s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box2:hover {
  animation-play-state: running;
}
.bg_clocks .clock_box2:hover > .clock_hands > #min2, .bg_clocks .clock_box2:hover > .clock_hands > #hour2 {
  animation-play-state: running;
}
.bg_clocks #min2 {
  animation: rotate 6s linear infinite;
  animation-play-state: paused;
}
.bg_clocks #hour2 {
  animation: rotate 60s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box3 {
  height: 450px;
  width: 450px;
  opacity: 0.3;
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box3:hover {
  animation-play-state: running;
}
.bg_clocks .clock_box3:hover > .clock_hands > #min3, .bg_clocks .clock_box3:hover > .clock_hands > #hour3 {
  animation-play-state: running;
}
.bg_clocks #min3 {
  animation: rotate 6s linear infinite;
  animation-play-state: paused;
}
.bg_clocks #hour3 {
  animation: rotate 60s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box4 {
  height: 128px;
  width: 128px;
  opacity: 0.6;
  animation: rotate 24s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box4:hover {
  animation-play-state: running;
}
.bg_clocks .clock_box4:hover > .clock_hands > #min4, .bg_clocks .clock_box4:hover > .clock_hands > #hour4 {
  animation-play-state: running;
}
.bg_clocks #min4 {
  animation: rotate 6s linear infinite;
  animation-play-state: paused;
}
.bg_clocks #hour4 {
  animation: rotate 60s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box5 {
  height: 380px;
  width: 380px;
  opacity: 0.4;
  animation: rotate 26s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box5:hover {
  animation-play-state: running;
}
.bg_clocks .clock_box5:hover > .clock_hands > #min5, .bg_clocks .clock_box5:hover > .clock_hands > #hour5 {
  animation-play-state: running;
}
.bg_clocks #min5 {
  animation: rotate 6s linear infinite;
  animation-play-state: paused;
}
.bg_clocks #hour5 {
  animation: rotate 60s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box6 {
  height: 387px;
  width: 387px;
  opacity: 0.3;
  animation: rotate 14s linear infinite;
  animation-play-state: paused;
}
.bg_clocks .clock_box6:hover {
  animation-play-state: running;
}
.bg_clocks .clock_box6:hover > .clock_hands > #min6, .bg_clocks .clock_box6:hover > .clock_hands > #hour6 {
  animation-play-state: running;
}
.bg_clocks #min6 {
  animation: rotate 6s linear infinite;
  animation-play-state: paused;
}
.bg_clocks #hour6 {
  animation: rotate 60s linear infinite;
  animation-play-state: paused;
}

.slide3_favorite {
  gap: 5%;
}

.fav_solar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  max-height: 600px;
  width: 48%;
  max-width: 520px;
  z-index: 1;
}

.fav_solar_name {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(51, 51, 51, 0.3);
}
.fav_solar_name i {
  color: #f24;
  font-size: 1.6rem;
}
.fav_solar_name .fav_solar_name_item {
  color: rgba(242, 170, 60, 0.6);
  text-shadow: 1px 1px rgba(51, 51, 51, 0.5), 0px 0px 5px #f2aa3c, 0px 0px 70px #f2aa3c;
}

.fav_solar_sys {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1/1;
}
.fav_solar_sys .solar_orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.fav_solar_sys .solar_orbit .solar_orbit_planet {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transform: translateY(-50%);
  background-color: #f2aa3c;
  box-shadow: 0px 0px 8px 2px rgba(242, 215, 60, 0.2), inset 0 0 6px 2px rgba(0, 0, 0, 0.2);
  animation-play-state: running;
}
.fav_solar_sys .solar_orbit .solar_orbit_planet:hover {
  animation-play-state: paused;
}
.fav_solar_sys .solar_orbit .solar_orbit_planet:hover > .solar_orbit_planet_icon {
  display: inline-block;
}
.fav_solar_sys .solar_orbit .solar_orbit_planet .solar_orbit_planet_icon {
  display: none;
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 6px solid #eee;
  border-radius: 6px;
  background-size: cover;
  background-color: #eee;
}
.fav_solar_sys .solar_orbit .solar_orbit_planet1 {
  top: 40%;
  left: 40%;
  animation: orbitSpin1 10s linear infinite;
}
.fav_solar_sys .solar_orbit .solar_orbit_planet2 {
  top: 44%;
  left: 44%;
  animation: orbitSpin2 16s linear infinite;
}
.fav_solar_sys .solar_orbit .solar_orbit_planet3 {
  top: 45%;
  left: 45%;
  animation: orbitSpin3 24s linear infinite;
}
.fav_solar_sys .solar_orbit .solar_orbit_planet4 {
  top: 46%;
  left: 46%;
  animation: orbitSpin4 20s linear infinite;
}
.fav_solar_sys .solar_orbit1 {
  width: calc(1 * 80px + 80px);
  height: calc(1 * 80px + 80px);
}
.fav_solar_sys .solar_orbit2 {
  width: calc(2 * 80px + 80px);
  height: calc(2 * 80px + 80px);
}
.fav_solar_sys .solar_orbit3 {
  width: calc(3 * 80px + 80px);
  height: calc(3 * 80px + 80px);
}
.fav_solar_sys .solar_orbit4 {
  width: calc(4 * 80px + 80px);
  height: calc(4 * 80px + 80px);
}

.fav_solar_myself {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
}
.fav_solar_myself .fav_solar_myself_img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.fav_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 54%;
  max-width: 400px;
  height: 90%;
  max-height: 600px;
}

.fav_intro_works {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64%;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 12px 4px rgba(51, 51, 51, 0.1);
  padding: 24px;
}
.fav_intro_works .fav_intro_works_frame {
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 4px double rgba(51, 51, 51, 0.2);
  border-radius: 6px;
}
.fav_intro_works .fav_intro_works_frame .fav_intro_works_slider {
  display: flex;
  height: 100%;
  transition: 0.3s;
}
.fav_intro_works .fav_intro_works_frame .fav_intro_works_slider .fav_intro_works_slider_item {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.fav_intro_works:hover > .fav_intro_works_arrow, .fav_intro_works:hover > .fav_intro_works_nav > .fav_intro_works_nav_list > .fav_intro_works_nav_list_item {
  opacity: 0.3;
}
.fav_intro_works .fav_intro_works_nav {
  position: absolute;
  bottom: 0;
  text-align: center;
}
.fav_intro_works .fav_intro_works_nav .fav_intro_works_nav_list {
  display: inline-block;
  list-style: none;
}
.fav_intro_works .fav_intro_works_nav .fav_intro_works_nav_list .fav_intro_works_nav_list_item {
  opacity: 0;
  display: inline-block;
  bottom: -2px;
  margin: 0 8px;
  width: 16px;
  height: 16px;
  background-color: #eee;
  border: 2px solid rgba(51, 51, 51, 0.2);
  background-clip: content-box;
  border-radius: 50%;
  transition: 0.3s;
}
.fav_intro_works .fav_intro_works_nav .fav_intro_works_nav_list .fav_intro_works_nav_list_item:hover {
  opacity: 1;
}
.fav_intro_works .fav_intro_works_arrow {
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #eee;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  padding: 12px;
  transition: 0.3s;
}
.fav_intro_works .fav_intro_works_arrow i {
  font-size: 1.6rem;
  color: #333;
}
.fav_intro_works .fav_intro_works_arrow:hover {
  opacity: 0.8;
}
.fav_intro_works .fav_intro_works_arrow_left {
  left: 2px;
  transform: translateY(-50%);
}
.fav_intro_works .fav_intro_works_arrow_right {
  right: 2px;
  transform: translateY(-50%);
}

.fav_intro_text {
  color: #333;
  width: 100%;
  height: 32%;
  line-height: 1.5rem;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 12px 4px rgba(51, 51, 51, 0.1);
  padding: 6px;
}
.fav_intro_text .fav_intro_text_intro {
  border: 3px double #333;
  background-color: #eee;
  border-radius: 6px;
  padding: 16px;
  height: 100%;
  overflow-y: scroll;
}
.fav_intro_text .fav_intro_text_intro p::first-letter {
  font-size: 1.6rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes orbitSpin1 {
  from {
    transform: rotate(0deg) translatex(80px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(80px) rotate(-360deg);
  }
}
@keyframes orbitSpin2 {
  from {
    transform: rotate(0deg) translatex(120px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(120px) rotate(-360deg);
  }
}
@keyframes orbitSpin3 {
  from {
    transform: rotate(0deg) translatex(160px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(160px) rotate(-360deg);
  }
}
@keyframes orbitSpin4 {
  from {
    transform: rotate(0deg) translatex(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(200px) rotate(-360deg);
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .slide1_bio,
  .slide2_experience,
  .slide3_favorite {
    width: 100%;
    height: 200%;
  }
  .about .container {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    transform: rotate(0) translateX(0);
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .about .container::-webkit-scrollbar {
    display: none;
  }
  .about .container .wrapper {
    transform: rotate(0) translateX(0);
    flex-direction: column;
    overflow-y: scroll;
  }
  .bio_container {
    flex-direction: column;
  }
  .bio_container .bio_photo {
    height: 200px;
  }
  .slide2_experience .bg_clocks {
    display: none;
  }
  .slide2_experience .exp_timeline::after {
    left: 0;
  }
  .slide2_experience .exp_timeline_point {
    font-size: 0.8rem;
    text-align: left;
  }
  .slide2_experience .exp_timeline_point::after {
    left: 0;
  }
  .slide2_experience .exp_timeline_point .exp_timeline_year {
    transform: translateX(20px);
  }
  .exp_status {
    width: 72%;
  }
  .exp_status .exp_status_appearance {
    min-width: 144px;
  }
  .exp_status .exp_status_job {
    width: 100%;
    overflow-y: scroll;
  }
  .exp_status .exp_status_job .exp_status_job_works {
    font-size: 1rem;
  }
  .exp_status .exp_status_job .exp_status_job_title > * {
    padding: 4px 0;
  }
  .exp_status .exp_status_job_intro {
    overflow-y: scroll;
  }
  .slide3_favorite {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .fav_solar_sys {
    width: 360px;
  }
  .fav_solar {
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .fav_solar .solar_orbit .solar_orbit_planet {
    width: 25px;
    height: 25px;
  }
  .fav_solar .solar_orbit .solar_orbit_planet1 {
    top: 40%;
    left: 40%;
    animation: orbitSpin1_sm 10s linear infinite;
  }
  .fav_solar .solar_orbit .solar_orbit_planet2 {
    top: 44%;
    left: 44%;
    animation: orbitSpin2_sm 16s linear infinite;
  }
  .fav_solar .solar_orbit .solar_orbit_planet3 {
    top: 45%;
    left: 45%;
    animation: orbitSpin3_sm 24s linear infinite;
  }
  .fav_solar .solar_orbit .solar_orbit_planet4 {
    top: 46%;
    left: 46%;
    animation: orbitSpin4_sm 20s linear infinite;
  }
  .fav_solar .solar_orbit1 {
    width: calc(1 * 60px + 80px);
    height: calc(1 * 60px + 80px);
  }
  .fav_solar .solar_orbit2 {
    width: calc(2 * 60px + 80px);
    height: calc(2 * 60px + 80px);
  }
  .fav_solar .solar_orbit3 {
    width: calc(3 * 60px + 80px);
    height: calc(3 * 60px + 80px);
  }
  .fav_solar .solar_orbit4 {
    width: calc(4 * 60px + 80px);
    height: calc(4 * 60px + 80px);
  }
  .fav_intro {
    width: 80%;
    justify-content: flex-start;
    gap: 5%;
  }
  .fav_intro_works {
    min-width: 200px;
  }
  .fav_intro_works_frame {
    min-width: 200px;
    min-height: 200px;
  }
  .fav_intro_text {
    min-width: 200px;
    min-height: 240px;
  }
  .fav_intro_works_slider_item {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
@media screen and (max-width: 414px) {
  .bio_text {
    font-size: 0.8rem;
  }
  .bio_content {
    height: 144px;
    overflow-y: scroll;
  }
  .exp_timeline_year {
    font-size: 0.6rem;
  }
  .exp_status {
    width: 90%;
  }
  .exp_status .exp_status_show {
    flex-direction: column;
    height: 100%;
  }
  .exp_status .exp_status_show .exp_status_appearance {
    min-height: 120px;
  }
  .exp_status .exp_status_show .exp_status_job_title h2 {
    font-size: 1.2rem;
  }
  .exp_status .exp_status_show .exp_status_job_title h5 {
    font-size: 0.8rem;
  }
  .exp_status .exp_status_show .exp_status_job_title > * {
    padding: 2px 0;
  }
  .exp_status .exp_status_show .exp_status_job_works {
    font-size: 0.8rem;
  }
  .exp_status .exp_status_job_intro {
    display: none;
  }
  .slide3_favorite {
    gap: 10%;
  }
  .fav_intro {
    min-width: calc(100vw - 48px);
  }
}
@keyframes orbitSpin1_sm {
  from {
    transform: rotate(0deg) translatex(70px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(70px) rotate(-360deg);
  }
}
@keyframes orbitSpin2_sm {
  from {
    transform: rotate(0deg) translatex(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(100px) rotate(-360deg);
  }
}
@keyframes orbitSpin3_sm {
  from {
    transform: rotate(0deg) translatex(130px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(130px) rotate(-360deg);
  }
}
@keyframes orbitSpin4_sm {
  from {
    transform: rotate(0deg) translatex(160px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(160px) rotate(-360deg);
  }
}
.projects {
  width: 100%;
  top: 70px;
  height: calc(100% - 140px);
}
.projects .projects_cards {
  width: 100%;
  height: 100%;
}

.card_open_closeBtn {
  cursor: pointer;
  position: fixed;
  padding: 5px 10px;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  border: 4px double rgba(255, 255, 255, 0.2);
  z-index: 99;
}
.card_open_closeBtn:hover {
  background-color: #fff;
  color: #333;
  border: 4px double rgba(0, 0, 0, 0.2);
}

.card {
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 6px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fffdf6;
  color: #333;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover > .card_title_marquee > .card_title_marquee_inner {
  opacity: 1;
  animation-play-state: running;
}
.card:hover > .card_title {
  opacity: 0;
}

.card_open {
  transform: translate(-50%, -60%) scale(1);
  z-index: 3;
  width: 80%;
  max-width: 1000px;
  height: 80%;
  overflow-y: scroll;
  cursor: auto;
}

.card_cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.card_title {
  position: absolute;
  top: 8%;
  left: 0;
  font-size: 2.4rem;
  font-weight: 600;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  padding-inline: 1rem;
}

.card_title_marquee {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.card_title_marquee .card_title_marquee_inner {
  width: -moz-max-content;
  width: max-content;
  background: #fff;
  display: flex;
  opacity: 0;
  transition: opacity 0.4s;
  animation: marquee 6s linear infinite;
  animation-play-state: paused;
}
.card_title_marquee span {
  color: #333;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-size: 3rem;
  padding-inline: 1rem;
  text-transform: uppercase;
}

.card_open_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5%;
}

.project_skills {
  text-align: left;
}
.project_skills .project_skill {
  display: inline-block;
  margin: 10px 10px;
  border-radius: 99px;
  padding: 10px 20px;
  background-color: #f2aa3c;
  color: #fff;
  font-weight: 600;
}
.project_skills .project_skill:nth-of-type(even) {
  background-color: #2f6df6;
}

.project_description_title {
  margin: 5% 0;
  font-size: 5rem;
  font-weight: 600;
  transform: translateX(-300%) rotate(-30deg);
  transition: 0.6s ease-out;
  text-shadow: 5px 5px 0px #2f6df6;
}

.project_problem_title {
  display: grid;
  color: #2f6df6;
  margin: 5% 0;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 5px 5px 0px #333;
  transition: 0.3s;
}
.project_problem_title span {
  display: grid;
  transform: skewY(-4deg);
  grid-column: 1/2;
  grid-row: 1/2;
  text-shadow: none;
  color: #333;
  transition: 0.3s;
}

.sliceTop {
  -webkit-clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
}

.sliceBottom {
  -webkit-clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%);
          clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%);
}

.solving {
  transform: scale(0);
  transition: 0.3s;
}

.description_text,
.problem_text {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
  padding: 20px 40px;
  margin: 5% 0;
  color: #333;
  transform: translateX(300%) rotate(30deg);
  transition: 0.6s ease-out;
}
.description_text::before,
.problem_text::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: skewX(-5deg);
  z-index: -1;
  border: 4px double rgba(47, 109, 246, 0.2);
}

.description_text {
  text-indent: 4rem;
}

.problem_text p::first-letter {
  font-size: 1.6rem;
}
.problem_text p {
  margin-bottom: 3%;
}

.project_img1,
.project_img2 {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  max-width: 600px;
  max-height: 600px;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.project_link {
  margin-bottom: 5%;
  line-height: 1.5rem;
}
.project_link h2 {
  display: inline-block;
}
.project_link a {
  display: inline-block;
  background-color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  padding: 0 1rem;
  overflow: hidden;
}
.project_link a::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 300%;
  top: -100%;
  left: -50%;
  background: #fff;
  opacity: 0.1;
  transform: rotate(-45deg);
  transition: 0.2s ease-in;
}
.project_link a:hover::after {
  left: 120%;
}

.projects_works {
  z-index: 2;
  position: absolute;
  right: 5%;
  bottom: 0;
  display: flex;
}
.projects_works a {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  transition: 0.3s ease-in;
  line-height: 1.5rem;
}
.projects_works a:hover {
  animation: jump 0.3s;
}
.projects_works a i {
  display: block;
}

.show {
  transform: translateX(0%) rotate(0);
}

.slice {
  animation: slice 0.3s forwards;
}

.zoom {
  transform: scale(1);
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
}
@keyframes marquee {
  from {
    transform: translateX(calc(-20% + 20vw));
  }
  to {
    transform: translateX(calc(-40% + 20vw));
  }
}
@keyframes slice {
  50% {
    transform: skewY(-4deg) translateX(6px);
    background: linear-gradient(to bottom, #555 50%, #333 70%);
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  100% {
    transform: skewY(-4deg) translateX(4px);
    background: linear-gradient(to bottom, #555 50%, #333 70%);
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 240px;
    height: 320px;
  }
  .card_open {
    width: calc(100vw - 48px);
    height: 80%;
    top: 0;
    transform: translate(-50%, 0%);
  }
}
@media screen and (max-width: 414px) {
  .skills {
    font-size: 0.8rem;
  }
  .project_description_title,
  .project_problem_title {
    font-size: 2.4rem;
  }
  .description_text,
  .problem_text {
    font-size: 0.8rem;
    border: 4px double rgba(47, 109, 246, 0.2);
    padding: 16px;
  }
  .description_text::before,
  .problem_text::before {
    border: none;
  }
  .project_link h2 {
    font-size: 1rem;
  }
}
@media screen and (max-height: 600px) {
  .card {
    top: 60%;
  }
}
.contact {
  width: 100%;
  height: calc(100% - 140px);
  top: 70px;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .mailbox {
  position: absolute;
  width: 136px;
  height: 144px;
  background-image: url(../assets/images/send.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}
.contact .main {
  width: 80%;
  max-width: 600px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5%;
  margin-bottom: 8vh;
}
.contact .main .imgBox {
  position: absolute;
  width: 100%;
  aspect-ratio: 18/11;
  max-width: 630px;
  max-height: 385px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contact .main .imgBox .mailCover {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/mailcover.png");
  background-size: cover;
  transform: rotate(5deg);
}
.contact .main form {
  height: 100%;
  width: 95%;
  background-color: rgba(238, 238, 238, 0.8);
  color: #333;
  padding: 20px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}
.contact .main form h4 {
  margin: 5px 0px;
}
.contact .main form label {
  display: inline-block;
  margin: 8px 0px;
  font-weight: 600;
}
.contact .main form label span {
  color: red;
}
.contact .main form input,
.contact .main form textarea {
  font-size: 1.2rem;
  display: block;
  border: solid 3px #333;
}
.contact .main form input {
  width: 60%;
}
.contact .main form textarea {
  width: 100%;
}
.contact .main form button {
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 15px;
  margin-top: 2vh;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: 4px solid #fff;
  border-radius: 6px;
  background-color: #ffc800;
}
.contact .main form button:hover {
  background-color: #eee;
  color: #333;
}
.contact .main .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  width: 40px;
  height: 100%;
  background-color: #e0e0e0;
  color: #333;
  padding: 20px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}
.contact .main .information h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  writing-mode: vertical-rl;
}
.contact .main .information #icons {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.contact .main .information #icons a {
  text-align: center;
  color: #1f4ead;
  font-size: 1.6rem;
  transition: 0.2s;
}
.contact .main .information #icons a:hover {
  transform: translateY(-2px) scale(1.1);
  color: #3570f1;
}
.contact .bubble {
  position: absolute;
  bottom: 10%;
  width: 120px;
  padding: 1vh 1vw;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  box-shadow: 2px 2px 5px #333;
}
.contact .bubble:before {
  content: "";
  position: absolute;
  top: 60%;
  left: -20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #fff;
}
.contact .bubble1 {
  left: 40px;
  animation: pop 6s 2s both;
}
.contact .bubble2 {
  animation: pop2 4s 47s both;
}
.contact .character {
  position: absolute;
  background-image: url("../assets/images/Lulu.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 144px;
  height: 192px;
  left: -100px;
  bottom: 0;
  transform: translateX(-50%) rotate(10deg);
  animation: peek 10s 10s 3, peek2 10s 40s;
}

@keyframes pop {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 100;
  }
}
@keyframes pop2 {
  0% {
    left: 50px;
    opacity: 0;
  }
  10%, 90% {
    left: 40px;
    opacity: 100;
  }
  100% {
    left: 40px;
    opacity: 0;
  }
}
@keyframes peek {
  0%, 100% {
    left: -100px;
  }
  90% {
    left: 0;
  }
}
@keyframes peek2 {
  0%, 30%, 80%, 100% {
    left: -100px;
  }
  20% {
    left: 0px;
  }
  70% {
    left: -20px;
  }
}
.char_container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: 1s linear;
}

.character {
  width: 144px;
  height: 192px;
}

.dialog {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 110%;
  min-height: 56px;
  background-color: #fff;
  box-shadow: 2px 2px 4px 2px rgba(51, 51, 51, 0.5);
  border-radius: 6px;
  padding: 12px 16px;
  color: #000;
  font-weight: 600;
}
.dialog::before {
  content: "";
  position: absolute;
  top: 60%;
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #fff;
}

@media screen and (max-width: 414px) {
  .dialog {
    top: -10%;
    width: 72%;
  }
}
.loadingScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f0eff0;
  animation: fadeOut 8s;
}
.loadingScreen .container {
  width: 500px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loadingScreen .container img {
  height: 80%;
  aspect-ratio: 1/1;
  animation: rotating 1s 5s both;
}
.loadingScreen .container p {
  color: #333;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
}
.loadingScreen .container p:after {
  content: "";
  animation: loadingText 2s steps(1) infinite alternate;
}
.loadingScreen .container .loadingBar {
  background-color: #333;
  border: 4px solid #333;
  height: 16px;
  width: 60%;
  border-radius: 2px;
  overflow: hidden;
}
.loadingScreen .container .loadingBar .progress {
  height: 100%;
  background-image: linear-gradient(45deg, #da9a35, #c2882e);
  animation: loading 6s;
}

@keyframes fadeOut {
  0%, 60% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg) scale(0.2);
  }
}
@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loadingText {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
.notFound {
  width: 100%;
  height: calc(100% - 140px);
  top: 70px;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2vh;
  text-align: center;
}
.notFound .error {
  font-size: 2rem;
  font-weight: bold;
}
.notFound .error span {
  position: absolute;
  top: 0;
  left: 0;
}
.notFound .error span:first-of-type {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
          clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  animation: glitch 3s steps(1) infinite;
  opacity: 0.5;
}
.notFound .error span:last-of-type {
  -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
          clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  animation: glitch 2.3s steps(1) infinite;
}
.notFound .glitch {
  font-size: 5rem;
  font-weight: bold;
  color: yellow;
  position: relative;
  text-shadow: -4px -4px 0 red, 4px 4px 0 cyan;
}
.notFound .glitch span {
  position: absolute;
  top: -5px;
  left: 0;
}
.notFound .glitch span:first-of-type {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
          clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  animation: glitch 3s steps(1) infinite;
}
.notFound .glitch span:last-of-type {
  -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
          clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  animation: glitch 2.3s steps(1) infinite;
}
.notFound .bigHeading {
  width: 50%;
}
.notFound .bigHeading h2 {
  margin: 1vh 0;
}
.notFound .char_container:hover:after {
  content: "Don't worry!";
  color: #333;
  display: inline-block;
  position: absolute;
  padding: 10px;
  border-radius: 6px;
  left: 110%;
  top: 0%;
  font-weight: 600;
  transition: 0.5s;
  background: rgb(238, 238, 238);
}
.notFound .char_container:hover:before {
  content: "";
  position: absolute;
  top: 16%;
  left: 100%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid rgb(238, 238, 238);
}

@keyframes glitch {
  0% {
    transform: translate(0px);
  }
  55% {
    transform: translate(0px) skew(20deg);
  }
  60% {
    transform: translate(8px);
    color: transparent;
  }
  65% {
    transform: translate(0, 8px);
    color: inherit;
  }
  90% {
    transform: translate(8px, 8px) skew(-10deg);
    color: #333;
  }
  100% {
    transform: translate(8px 8px);
    color: inherit;
  }
}/*# sourceMappingURL=style.css.map */